@layer base {
  :root {
    --white: #fff;
    --black: #1a1a1a;
    --primary: #d35400;
    --primary-light: #ffa568;
    --primary-bg: #fff0e5;
    --border: #888;
    --border-light: #ccc;
    --gray-bg: #f4f4f4;
    --z-header: 100;

    /* colors */
    --text-color-white: #fff;
    --text-color-link: #00118f;
    --text-color-link-visited: #8b008b;
    --text-color-link-hover: #00118f;
    --text-color-link-active: #c74700;
    --outline-color-focus: #000;
    --border-color-black: #000;
    --border-color-gray: #767676;
    --border-color-gray-light: #949494;
    --bg-color-white: #fff;
    --bg-color-black: #000;
    --bg-color-primary: #0017c1;
    --bg-color-primary-hover: #00118f;
    --bg-color-primary-hover-light: #c5d7fb;
    --bg-color-primary-active: #000060;
    --bg-color-primary-active-light: #9db7f9;
    --bg-color-disabled: #b3b3b3;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
button,
hr {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

button {
  text-transform: none;
  cursor: pointer;
}
