{
  "$schema": "https://json.schemastore.org/prettierrc",
  "importOrder": [
    "^(astro/(.*)$)|^(astro$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@lib/(.*)$",
    "^@scripts/(.*)$",
    "^@styles/(.*)$",
    "^@layouts/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-astro"],
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
