.layouts-default {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.layouts-default__main {
  display: flex;
  flex-direction: column;
}

.layouts-default__breadcrumbs {
  background-color: var(--bg-color-gray);

  &[data-position="bottom"] {
    margin-top: auto;
  }
}

.layouts-default__go-top-button {
  position: sticky;
  bottom: 0;
  left: calc(
    100% - 2em
  ); /* NOTE: right: 0 で意図した配置にならなかったため2em（ボタン幅）をハードコーディングして対応 */
  width: fit-content;
  padding-block: 1em;
}
