---
import Layout from "@layouts/Default.astro";
---

<Layout
  title="ページが見つかりません"
  description="404ページの概要"
  breadcrumbs={[
    {
      path: "/",
      label: "TOP",
    },
    {
      path: "/404",
      label: "ページが見つかりません",
    },
  ]}
>
  <p>ページが見つかりません</p>
</Layout>
