---
import Layout from "@layouts/Default.astro";
---

<Layout
  title="エラーが発生しました"
  description="500ページの概要"
  breadcrumbs={[
    {
      path: "/",
      label: "TOP",
    },
    {
      path: "/500",
      label: "エラーが発生しました",
    },
  ]}
>
  <p>エラーが発生しました</p>
  <p>
    ページを再読み込みしてもエラーが解消しない場合は、お手数ですが時間をおいてからアクセスしてください
  </p>
</Layout>
