---
import "@styles/posts/hero.css";

interface Props {
  title: string;
  category: string;
  date: string;
  image: string;
}
const { title, category, date, image } = Astro.props;
---

<div class="posts-hero">
  <div class="posts-hero__image">
    <img src={image} alt="" />
  </div>
  <p class="posts-hero__info">{category} ／ {date}</p>
  <h1 class="posts-hero__title">{title}</h1>
</div>
