---
import "@styles/posts/post-list.css";

import { getRootRelativePath } from "@lib/utils";
import Link from "@components/common/Link.astro";

type Post = {
  id: string;
  title: string;
  date: string;
  category: string;
};
interface Props {
  posts: Post[];
}
const { posts } = Astro.props;
---

<div class="posts-post-list">
  <ul class="posts-post-list__items">
    {
      posts.map((post) => (
        <li class="posts-post-list__item">
          <span>{post.date}</span>
          <span>{post.category}</span>
          <Link href={getRootRelativePath(`/posts/${post.id}`)}>
            {post.title}
          </Link>
        </li>
      ))
    }
  </ul>
</div>
