---
import { getRootRelativePath } from "@lib/utils";
import Layout from "@layouts/Default.astro";

const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));
type PostInfo = {
  id: string;
  frontmatter: any;
};
const postInfos: PostInfo[] = allPosts.map((post: any) => {
  const id = post.file
    .split("/")
    .pop()
    .replace(/\.[^/.]+$/, "");
  return {
    id,
    frontmatter: post.frontmatter,
  };
});
---

<Layout
  title="記事一覧ページ"
  description="記事一覧ページの概要"
  breadcrumbs={[
    {
      path: "/",
      label: "TOP",
    },
    {
      path: "/posts",
      label: "記事一覧",
    },
  ]}
>
  <ul>
    {
      postInfos.map((info) => (
        <li>
          <a href={getRootRelativePath(`/posts/${info.id}`)}>
            {info.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
