/* .common-breadcrumbs {} */

.common-breadcrumbs__list {
  display: inline;
}

.common-breadcrumbs__list-item {
  display: inline;
  overflow-wrap: break-word;
}

.common-breadcrumbs__list-item-icon {
  display: inline;
  width: 1em;
  aspect-ratio: 1 / 1;
  margin-bottom: 0.1875rem;
  margin-left: 0.1875rem;
  vertical-align: middle;
}
