.common-container {
  width: 100%;
  padding-inline: 1em;
  margin-inline: auto;

  &[data-size="lg"] {
    max-width: var(--media-width-lg);
  }

  &[data-size="md"] {
    max-width: var(--media-width-md);
  }

  &[data-size="sm"] {
    max-width: var(--media-width-sm);
  }
}
