.common-header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  padding-top: var(--page-progress-bar-height);
  background-color: var(--bg-color-white);
}

.common-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.common-header-logo {
  color: var(--text-color-black);
}

.common-header-nav {
  @media screen and (width <= 768px) {
    display: none;
  }
}

.common-header-nav__items {
  display: flex;
  gap: 16px;
  align-items: center;
}

.common-header-menu-button {
  display: inline-grid;
  place-content: center;
  padding: 8px;
  border: 1px solid var(--border-color-gray);

  @media screen and (width > 768px) {
    display: none;
  }
}
